## Exercícios R-4

### 1. Execute os exercícios apresentados nos slides

#### executando comandos e salvando arquivos

$ \cdot $ Arquivo "comandos.R

    >print(10 + 20)
    >print("oi mundo)
    
$ \cdot $ No console pode carregar comandos com source():

    >souce("comandos.R")
    
$ \cdot $ Os comandos são carregados e executados

In [1]:
source("comandos.R")

[1] 30
[1] "oi mundo"

$ \cdot $ Pode-se redirecionar a saída para um arquivo: sink()

In [4]:
sink("saida.txt")
print("oi mundo!!")
sink()

#gera o arquivo saida.txt

[1] "oi mundo!!"

#### lendo arquivos

##### exemplo 1

In [12]:
dados <- read.table("arquivo.dat")
dados

Warning message in read.table("arquivo.dat"):
"incomplete final line found by readTableHeader on 'arquivo.dat'"

  V1      V2
1 nome    sobrenome
2 Razer   MontaÃ±o
3 Dath    Vader
4 Luke    Skywalker
5 Obi-wan Kenobi

In [17]:
dados <- read.table("arquivo.dat", header=T)
dados

Warning message in read.table("arquivo.dat", header = T):
"incomplete final line found by readTableHeader on 'arquivo.dat'"

  nome    sobrenome
1 Razer   MontaÃ±o
2 Dath    Vader
3 Luke    Skywalker
4 Obi-wan Kenobi

##### Exemplo 2

In [18]:
df <- data.frame(nome=c("Razer", "Anthom", "Nizer", "ROjas", "Montaño"), idade=c(25, 30, 18, 15, 20))
df

  nome    idade
1 Razer   25
2 Anthom  30
3 Nizer   18
4 ROjas   15
5 Montaño 20

In [19]:
write.table(df, "idades.txt")

In [23]:
write.table(df, "idades2.txt", row.names=F, sep="/")

In [24]:
write.table(df, "idades3.txt", quote=F, row.names=F, sep="-")

##### Exemplo 3

In [27]:
dados <- read.csv("fruitohms.csv")
head(dados)

  X juice ohms
1 1 4.0   4860
2 2 5.0   5860
3 3 5.5   6650
4 4 7.5   7050
5 5 8.5   5960
6 6 8.5   6750

##### Exemplo 4

In [28]:
df <- data.frame(nome=c("Razer", "Anthom","Nilzer", "Rojas", "Montaño"), salario=c(50000.00, 85439.33, 123987.654, 18698.10, 73681))
write.csv(df, "salario.csv")

In [29]:
write.csv2(df, "salario2.csv")

In [30]:
write.csv2(df, "salario3.csv", row.names=F, quote=F)

### 2. Carregue o arquivo: http://www.razer.net.br/datasets/Biomassa_REG.csv

In [33]:
dados <- read.csv2("http://www.razer.net.br/datasets/Biomassa_REG.csv")
head(dados)

  ï..dap h   Me   biomassa
1  6.4   5.0 1.04  7.07
2  7.3   5.0 1.04 10.30
3  7.8   5.5 1.04 13.90
4  9.2   7.6 1.04 18.61
5  9.9   8.2 1.04 30.97
6 10.6   8.7 1.04 46.44

### 3. Carregue o arquivo http://www.razer.net.br/datasets/fertility.csv

In [35]:
dados <- read.csv("http://www.razer.net.br/datasets/fertility.csv")
head(dados)

  season age  childish.disease trauma surgical.intervention fevers alcoholic
1 -0.33  0.69 0                1      1                     0      0.8
2 -0.33  0.94 1                0      1                     0      0.8
3 -0.33  0.50 1                0      0                     0      1.0
4 -0.33  0.75 0                1      1                     0      1.0
5 -0.33  0.67 1                1      0                     0      0.8
6 -0.33  0.67 1                0      1                     0      0.8
  smoking sitting output
1  0      0.88    N
2  1      0.31    O
3 -1      0.50    N
4 -1      0.38    N
5 -1      0.50    O
6  0      0.50    N

### 4. Salve a base de dados IRIS (data frame iris) usando os seguintes formatos:

In [38]:
library(datasets)
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

#### a) Separador "**", ponto decimal ".", sem os nomes das linhas e o cabeçalho de colunas, com aspas nos campos string

In [41]:
write.table(iris,"iris.txt", sep="**", row.names=F)

#### b) CSV com ponto decimal ",", sem os nomes das linhas, com o cabeçalho de colunas e sem aspas nos campos string

In [42]:
write.csv2(iris, "iris.csv", row.names=F, quote=F)