## Exercícios R-3 (3.2)

### 1 Execute os exemplos apresentados nos slides

#### a) Vetores bidimensionais
        • Somente elementos de uma mesma classe
        • Função matrix(dados, linhas, colunas)
Exemplo

In [1]:
m <- matrix(1:6, nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

#### b) Criação a partir de valores

In [2]:
m <- matrix(c(2,3,-2,1,2,2,4,2,3),3, 3)
m

     [,1] [,2] [,3]
[1,]  2   1    4
[2,]  3   2    2
[3,] -2   2    3

#### c) Função dim() retorna as dimensões da matriz

In [3]:
m <- matrix(1:6, nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [4]:
dim(m)

[1] 2 3

#### d) Obter número de linhas: nrow()

In [6]:
nrow(m)

[1] 2

#### e) Obter número de colunas: ncol()

In [7]:
ncol(m)

[1] 3

#### f) obter a matriz inteira

In [8]:
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

#### g) Selecionar uma Linha inteira

In [9]:
m[2,]

[1] 2 4 6

#### h) Selecionar uma Coluna inteira

In [10]:
m[,2]

[1] 3 4

#### i) Selecionar um elemento específico

In [11]:
m[2,2]

[1] 4

#### j) Consegue-se adicionar nomes às linhas e colunas de uma matriz

In [12]:
m <- matrix(1:6, nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [14]:
colnames(m)<-c("col 1","col 2","col 3")

In [15]:
rownames(m)<-c("linha 1", "linha 2")

In [16]:
m

        col 1 col 2 col 3
linha 1 1     3     5
linha 2 2     4     6

#### k) Os dados podem ser acessados pelos nomes

In [18]:
m["linha 1",]

col 1 col 2 col 3
    1     3     5

In [19]:
m[,"col 2"]

linha 1 linha 2
      3       4

#### l) Concatenação de Matrizes

In [21]:
A <- matrix(c(7,2,-5,9,1,0),3,2)
B <- matrix(c(5,1,8,0,-2,1),3,2)
A

     [,1] [,2]
[1,]  7   9
[2,]  2   1
[3,] -5   0

In [23]:
B

     [,1] [,2]
[1,] 5     0
[2,] 1    -2
[3,] 8     1

In [25]:
C <- cbind(A,B)
C

     [,1] [,2] [,3] [,4]
[1,]  7   9    5     0
[2,]  2   1    1    -2
[3,] -5   0    8     1

In [27]:
C <- rbind(A,B)
C

     [,1] [,2]
[1,]  7    9
[2,]  2    1
[3,] -5    0
[4,]  5    0
[5,]  1   -2
[6,]  8    1

#### m)  Operações com Linhas e Colunas
        Uma coluna em função de outras

In [28]:
vals <- sample(1:50, 12, replace = FALSE)
m <- matrix( vals, nrow=4,ncol=3)
m

     [,1] [,2] [,3]
[1,] 49   39   14
[2,] 38   15    5
[3,] 41   13    8
[4,] 50    1   19

In [30]:
m[,2] <- m[,1]+m[,3]
m

     [,1] [,2] [,3]
[1,] 49   63   14
[2,] 38   43    5
[3,] 41   49    8
[4,] 50   69   19

Uma Linha em função de outras

In [31]:
m[4,]<-m[1,]-m[3,]
m

     [,1] [,2] [,3]
[1,] 49   63   14
[2,] 38   43    5
[3,] 41   49    8
[4,]  8   14    6

#### n) Adição/Subtração/Multiplicação/Divisão por um escalar

In [32]:
m <- matrix(1:6, nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [33]:
m*10

     [,1] [,2] [,3]
[1,] 10   30   50
[2,] 20   40   60

In [34]:
m+10

     [,1] [,2] [,3]
[1,] 11   13   15
[2,] 12   14   16

#### o)  Multiplicação de Matrizes : operador %*%
    • Número de colunas da primeira matriz deve ser o mesmo número de linhas da segunda matriz

In [35]:
m <- matrix(5:10, nrow = 2, ncol = 3)
n <- matrix(7:12, nrow = 3, ncol = 2)

In [36]:
m %*% n

     [,1] [,2]
[1,] 172  235
[2,] 196  268

#### p)  Diagonal Principal

In [37]:
m <- matrix(c(2,3,-2,1,2,2,4,2,3),3,3)
m

     [,1] [,2] [,3]
[1,]  2   1    4
[2,]  3   2    2
[3,] -2   2    3

In [38]:
 diag(m)

[1] 2 2 3

In [39]:
 diag( diag(m))

     [,1] [,2] [,3]
[1,] 2    0    0
[2,] 0    2    0
[3,] 0    0    3

#### q) Matriz Identidade

In [40]:
I <- diag(c(1,1,1))
I

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

#### r)  Matriz Inversa

In [41]:
m <- matrix(c(4, 4, -2, 2, 6, 2, 2, 8, 4), 3, 3) 
m

     [,1] [,2] [,3]
[1,]  4   2    2
[2,]  4   6    8
[3,] -2   2    4

In [42]:
invm <- solve(m)
invm

     [,1] [,2] [,3]
[1,]  1.0 -0.5  0.5
[2,] -4.0  2.5 -3.0
[3,]  2.5 -1.5  2.0

#### s) Matriz Original %*% Inversa = Identidade

In [43]:
m %*% invm

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 0    1    0
[3,] 0    0    1

#### t)  Determinante

In [44]:
m <- matrix(c(4, 4, -2, 2, 6, 2, 2, 8, 4), 3, 3)
m

     [,1] [,2] [,3]
[1,]  4   2    2
[2,]  4   6    8
[3,] -2   2    4

In [45]:
det(m)

[1] 8

#### u)  Soma de linhas, colunas e de todos os elementos

In [47]:
colSums(m)

[1]  6 10 14

In [48]:
rowSums(m)

[1]  8 18  4

In [49]:
sum(m)

[1] 30

#### v)  Média de linhas, colunas e de todos os elementos

In [51]:
colMeans(m)

[1] 2.000000 3.333333 4.666667

In [52]:
rowMeans(m)

[1] 2.666667 6.000000 1.333333

In [54]:
mean(m)

[1] 3.333333

### 2) A seguir tem-se as distâncias entre quatro cidades da Europa, em Km:
        • Atenas a Madri: 3949
        • Atenas a Paris: 3000
        • Atenas a Estocolmo: 3927
        • Madri a Paris: 1273
        • Madri a Estocolmo: 3188
        • Paris a Estocolmo: 1827

#### a) Crie uma matriz com os valores acima. Nesta matriz, a diagonal principal deve conter zeros e o "triângulo" acima da diagonal principal deve conter as mesmas informações do "triângulo" abaixo da diagonal principal.

In [55]:
m <- matrix(c(0, 3949, 3000, 3927, 3949, 0, 1273, 3188, 3000, 1273, 0, 1827, 3927, 3188, 1827, 0), 4, 4)
m

     [,1] [,2] [,3] [,4]
[1,]    0 3949 3000 3927
[2,] 3949    0 1273 3188
[3,] 3000 1273    0 1827
[4,] 3927 3188 1827    0

#### b)  Use o nome das cidades como linhas e colunas desta matriz

In [59]:
colnames(m)<-(c("Atenas", "Madri", "Paris", "Estocolmo"))
rownames(m)<-(c("Atenas", "Madri", "Paris", "Estocolmo"))

#### c)  Mostre a matriz

In [60]:
m

          Atenas Madri Paris Estocolmo
Atenas       0   3949  3000  3927
Madri     3949      0  1273  3188
Paris     3000   1273     0  1827
Estocolmo 3927   3188  1827     0